<footer id="footer">
    <div id="sponsors">
        <h4 class="sponsors-header tk-korolev-compressed">{{ i18n "cloudProvider" }}</h4>
        <ul class="sponsor-list">
            <li class="sponsor">
                <a href="https://upcloud.com/signup?utm_source=VirratHacklab&utm_medium=banner&utm_campaign=VirratHacklab" target="_blank">
                    <img src="{{ "assets/images/sponsors/upcloud.svg" | relURL }}" height="40" />
                </a>
            </li>
        </ul>

        <p class="paragraph">
            &tilde;&tilde;&tilde;&tilde;&tilde;&tilde;&tilde;
        </p>

        <h4 class="sponsors-header tk-korolev-compressed">{{ i18n "sponsors" }}</h4>
        <ul class="sponsor-list">
            <li class="sponsor">
                <a href="https://virrat.fi" target="_blank">
                    <img src="{{ "assets/images/sponsors/virrat.png" | relURL }}" height="40" />
                </a>
            </li>
            <li class="sponsor">
                <a href="https://www.op.fi/web/op-virrat" target="_blank">
                    <img src="{{ "assets/images/sponsors/op-virrat.png" | relURL }}" height="40" />
                </a>
            </li>
            <li class="sponsor">
                <a href="https://www.phpoy.fi/" target="_blank">
                    <img src="{{ "assets/images/sponsors/phpoy.png" | relURL }}" height="40" />
                </a>
            </li>
            <li class="sponsor">
                <a href="https://ksat.fi" target="_blank">
                    <img src="{{ "assets/images/sponsors/ksat.png" | relURL }}" height="40" />
                </a>
            </li>
            <li class="sponsor">
                <a href="https://www.vipstore.fi/" target="_blank">
                    <img src="{{ "assets/images/sponsors/vip-store.png" | relURL }}" height="40" />
                </a>
            </li>
        </ul>

        <p class="paragraph">
            &tilde;&tilde;&tilde;&tilde;&tilde;&tilde;&tilde;
        </p>

        <h4 class="sponsors-header tk-korolev-compressed">{{ i18n "support" }}</h4>
        <ul class="sponsor-list">
            <li class="sponsor">
                <a href="https://www.bosch.fi/" target="_blank">
                    <img src="{{ "assets/images/sponsors/bosch.png" | relURL }}" height="40" />
                </a>
            </li>
            <li class="sponsor">
                <a href="https://www.k-rauta.fi/kaupat/virrat/" target="_blank">
                    <img src="{{ "assets/images/sponsors/k-rauta-virrat.png" | relURL }}" height="40" />
                </a>
            </li>
            <li class="sponsor">
                <a href="https://www.pokory.fi/" target="_blank">
                    <img src="{{ "assets/images/sponsors/poko.png" | relURL }}" height="40" />
                </a>
            </li>
            <li class="sponsor">
                <a href="https://www.tredu.fi/" target="_blank">
                    <img src="{{ "assets/images/sponsors/tredu.png" | relURL }}" height="40" />
                </a>
            </li>
            <li class="sponsor">
                <a href="https://motivesafety.fi/" target="_blank">
                    <img src="{{ "assets/images/sponsors/motivesafety.png" | relURL }}" height="40" />
                </a>
            </li>
        </ul>

        <p class="paragraph">
            &tilde;&tilde;&tilde;&tilde;&tilde;&tilde;&tilde;
        </p>

        <h4 class="sponsors-header tk-korolev-compressed">{{ i18n "social" }}</h4>
        <ul class="sponsor-list">
            <li class="sponsor">
                <a href="https://facebook.com/VirratHacklab/">
                    <img height="64" src="{{ "assets/images/social/fa-facebook.png" | relURL }}" />
                </a>
            </li>
            <li class="sponsor">
                <a href="https://twitter.com/VirratHacklab/">
                    <img height="64" src="{{ "assets/images/social/fa-twitter.png" | relURL }}" />
                </a>
            </li>
            <li class="sponsor">
                <a href="https://instagram.com/VirratHacklab/">
                    <img height="64" src="{{ "assets/images/social/fa-instagram.png" | relURL }}" />
                </a>
            </li>
        </ul>
    </div>
</footer>
