<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="shortcut icon" href="{{ "assets/images/favicon.png" | relURL }}" type="image/png">

<link rel="stylesheet" href="{{ "css/normalize.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/hacklab.css" | relURL }}">

<script src="https://use.typekit.net/drz2eor.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

{{ template "_internal/google_analytics.html" . }}
{{ template "_internal/opengraph.html" . }}

<script type="text/javascript" src="{{ "js/hacklab.js" | relURL }}"></script>

<title>{{ .Title }}</title>
