{{ define "main" }}
    <section class="cards">
        <div class="card">
            <h2 class="card-header tk-korolev-compressed">{{ i18n "what" }}?</h2>
            <p class="card-content">
                {{ i18n "whatDescription" }}
            </p>
        </div>
        <div class="card">
            <h2 class="card-header tk-korolev-compressed">{{ i18n "where"}}?</h2>
            <p class="card-content">
                {{ i18n "whereDescription" }}
            </p>
        </div>
        <div class="card">
            <h2 class="card-header tk-korolev-compressed">{{ i18n "join" }}!</h2>
            <p class="card-content">
                {{ i18n "joinDescription" }}
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfRjw4_vYe0ZJoVpysLL1O2-NY-XokVVMwZCTI65EAOylT7hQ/viewform" target="_blank">{{ i18n "joinLink" }}</a><br />
                {{ i18n "joinPrice" }}
            </p>
        </div>
    </section>
    <section class="map">
        <img src="{{ "assets/images/166.png" | relURL }}" width="100%" />
    </section>
{{ end }}
